
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
}

header {
  background-color: #260466;
  color: white;
  text-align: center;
  padding: 30px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #735bc8;
}

.hero {
  background: #e9ecef;
  text-align: center;
  padding: 70px 20px;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #222;
}

.hero p {
  font-size: 1.1rem;
  color: #444;
}

#about {
  text-align: center;
  padding: 50px 20px;
}

.profile {
  width: 150px;
  border-radius: 50%;
  margin: 20px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#projects {
  padding: 50px 20px;
  background-color: #f4f4f4;
}

#projects h2 {
  text-align: center;
  margin-bottom: 20px;
}

#projects ul {
  max-width: 800px;
  margin: 0 auto;
  list-style: disc;
  line-height: 1.8;
}

#skills {
  padding: 50px 20px;
  text-align: center;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

#contact {
  padding: 50px 20px;
  background: #f4f4f4;
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #2600ff94;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

.skip-link {
  position: absolute;
  left: -999px;
  top: auto;
}

.skip-link:focus {
  left: 10px;
  top: 10px;
  background: #000;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
}

section {
  margin-bottom: 50px;
}

section, header, footer {
  border: none;
  padding: 20px;
}

a, button {
  transition: all 0.3s ease;
}

#back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #e63946;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(218, 144, 144, 0.2);
  transition: background 0.3s ease;
}

#back-to-top:hover {
  background: #d90429;
}
